<li class="list-group-item list-group-item-info" id="idea<%=idea.id%>">
  <span class="titleLabel">Title:</span> <span class="titleValue"><%= idea.title %></span><br>

  <span class="bodyLabel">Body:</span> <span class="bodyValue"><%= idea.body %></span><br>
  <span class="qualityLabel">Quality:</span> <span class="qualityValue"><%= idea.quality %></span><br>

  <%= link_to upvote_path(idea), method: :put, remote:true do %>
  <span class="glyphicon glyphicon-thumbs-up"></span>
  <% end  %>

  <%= link_to downvote_path(idea),method: :put, remote:true do  %>
  <span class="glyphicon glyphicon-thumbs-down"></span>
  <% end  %>

  <span class="edit">
    <%= link_to edit_idea_path(idea), remote: true do %>
      <button class="btn btn-primary btn-xs">Edit</button>
    <% end %>

    <%= link_to idea, remote: true, method: :delete,  data: { confirm: 'Are you sure?' } do %>
      <button>Delete!</button>
    <% end %>
  </span>
</li>
