<li class="list-group-item list-group-item-info" id="<%=idea.id%>">
  <span class="titleLabel">Title:</span> <span class="titleValue" contenteditable="true"><%= idea.title %></span><br>

  <span class="bodyLabel">Body:</span> <span class="bodyValue" contenteditable="true"><%= idea.body %></span><br>
  <span class="qualityLabel">Quality:</span> <span class="qualityValue"><%= idea.quality %></span><br>

  <%= link_to upvote_path(idea), method: :put, remote:true do %>
  <span class="glyphicon glyphicon-thumbs-up upvote"></span>
  <% end  %>

  <%= link_to downvote_path(idea), method: :put, remote:true do  %>
  <span class="glyphicon glyphicon-thumbs-down downvote"></span>
  <% end  %>

  <span class="destroy_data">
    <%= link_to idea_path(idea), method: :delete, remote: true do %>
      <button>Delete!</button>
    <% end %>
  </span>
</li>
